################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/HW 3 Abstract classes and interfaces/.vs/HW 3 Abstract classes and interfaces/FileContentIndex
