################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/HW 2 OOP/.vs/HW 2 OOP/FileContentIndex/8d148cc7-b691-45f5-829d-9192c97720aa.vsidx
/HW 2 OOP/.vs/HW 2 OOP/FileContentIndex/27f1b7e9-cff3-4772-be06-2bf8192e3cb0.vsidx
/HW 2 OOP/.vs/HW 2 OOP/FileContentIndex
/HW 4 Operators reload/.vs/HW 4 Operators reload/FileContentIndex
